/* this is to reset all browser padding back to 0 to prevent weird issues across browsers */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}   
/* this is to reset all browser padding back to 0 to prevent weird issues across browsers */


/*website styling starts here */

.navbarbutt { /* this is button menu in far right with underline underneath will make a bootstrap like menu for mobile */
  float: right;
  background-color: transparent;
  margin-right: 10px;
  color: blue;
  padding: 14px 28px;
  font-size: 16px;
  border-color: black;
  border-style: none none solid none;
}

.navbarbutt:hover {
  background-color: gray;
}

.marginright { /* to adjust righmost menubutton currently home to give a little space on the right side */
  margin-right: 50px;
}
